{% load bootstrap %}
{% load i18n %}

<!-- accept former rejected request modal -->
<div class="modal fade" id="srp-request-accept-rejected" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{% translate 'Close' %}">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-title">{% translate "Accept SRP Request" %}</div>
            </div>

            <div class="modal-body">
                <p>
                    {% translate "Are you sure you want to accept this SRP request?" %}
                </p>

                <form autocomplete="off" method="post">
                    {% csrf_token %}

                    <fieldset class="aa-srp-request-form">
                        {{ forms.accept_rejected_request|bootstrap }}

                        {% include "aasrp/partials/form/required_field_hint.html" %}
                    </fieldset>
                </form>
            </div>

            <div class="modal-footer">
                <button id="modal-button-cancel-accept-rejected-request" type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <i class="far fa-hand-paper"></i>
                    {% translate "Cancel" %}
                </button>
                <button id="modal-button-confirm-accept-rejected-request" type="button" class="btn btn-success btn-sm">
                    <i class="fas fa-check"></i>
                    {% translate "Accept SRP Request" %}
                </button>
            </div>
        </div>
    </div>
</div>
