@media all {
    .template-light-mode .aa-srp .nav-tabs > li.active > a {
        background-color: rgb(236, 240, 241);
        color: rgb(0, 0, 0);
    }

    .template-dark-mode .aa-srp .nav-tabs > li.active > a {
        background-color: rgb(70, 69, 69);
        color: rgb(255, 255, 255);
    }

    .aa-srp .btn-tabs {
        border-width: 1px;
    }

    .btn-aasrp {
        margin: 0.1rem;
        width: 35px;
        height: 35px;
    }
}

/* DataTables
--------------------------------------------------------------------------------------------------------------------- */
@media all {
    .dataTables_wrapper > .form-inline {
        margin-bottom: 1rem;
    }

    .dataTables_wrapper > .form-inline select {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .dataTables_wrapper > .form-inline select:last-child {
        margin-right: 0;
    }

    .dataTables_length select {
        margin: 0 1rem;
    }
}

@media (min-width: 768px) {
    .dataTables_wrapper > .form-inline select:first-child {
        margin-left: 1rem;
    }
}
