@media all {
    .aa-srp {
        .aasrp-form-field-errors {
            margin-top: 0.5rem;
            padding: 0.5rem;
        }

        form {
            &.is-submitting {
                .aa-srp-form-submitted-info {
                    display: block;
                }

                button[type="submit"] {
                    cursor: not-allowed;
                    opacity: 0.5;
                }
            }

            label {
                font-weight: normal;

                .form-field-required {
                    font-weight: bold;
                }
            }

            .aa-srp-form-submitted-info {
                display: none;
            }
        }
    }
}
