{% load i18n %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">{% translate "Your SRP Request" %}</div>
    </div>

    <div class="panel-body">
        <form autocomplete="off" action="{% url 'aasrp:request_srp' srp_code %}" method="post">
            {% csrf_token %}

            <fieldset class="aa-srp-request-form col-md-6 col-md-offset-3">
                {% include "aasrp/partials/form/form_fields.html" with form=form %}

                <div class="form-group aasrp-form-group text-right clearfix">
                    <button class="btn btn-primary" type="submit">{% translate 'Submit SRP Request' %}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
