{% load django_bootstrap5 %}
{% load i18n %}

<div class="col-md-8">
    <div class="card card-default">
        <div class="card-header">
            <div class="card-title mb-0">
                {% translate "Your SRP request" %}
            </div>
        </div>

        <div class="card-body">
            <form autocomplete="off" action="{% url 'aasrp:request_srp' srp_link.srp_code %}" method="post">
                {% csrf_token %}

                <fieldset class="aa-srp-request-form">
                    {% bootstrap_form form %}

                    {% include "aasrp/partials/form/required-field-hint.html" %}

                    <div class="form-group aasrp-form-group text-end clearfix">
                        {% translate "Submit SRP request" as button_text %}
                        {% bootstrap_button button_type="submit" content=button_text %}
                    </div>
                </fieldset>

                <div class="col-sm-12 aa-srp-form-submitted-info mt-3">
                    <div class="aa-callout aa-callout-info">
                        <p>{% translate "Working on it, please be patient …" %}</p>

                        <p>
                            {% translate "Fetching kill mail information, this might take a moment …" %}
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
