{% load bootstrap %}
{% load i18n %}

<!-- accept request modal -->
<div class="modal fade" id="srp-request-accept" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title fs-5">
                    {% translate "Accept SRP request" %}
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
            </div>

            <div class="modal-body">
                <p>
                    {% translate "Are you sure you want to accept this SRP request?" %}
                </p>

                <form autocomplete="off" method="post">
                    {% csrf_token %}

                    {{ forms.accept_request|bootstrap }}

                    {% include "aasrp/partials/form/required-field-hint.html" %}
                </form>
            </div>

            <div class="modal-footer">
                <button id="modal-button-cancel-accept-request" type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                    <i class="fa-regular fa-hand"></i>
                    {% translate "Cancel" %}
                </button>

                <button id="modal-button-confirm-accept-request" type="button" class="btn btn-success btn-sm">
                    <i class="fa-solid fa-check"></i>
                    {% translate "Accept SRP request" %}
                </button>
            </div>
        </div>
    </div>
</div>
