{% extends "allianceauth/base-bs5.html" %}

{% load i18n %}

{% block page_title %}
    {% translate "Ship Replacement" %}
{% endblock %}

{% block header_nav_brand %}
    {% translate "Ship Replacement" %}
{% endblock %}

{% block header_nav_collapse_left %}
    {% include "aasrp/partials/navigation/top-navigation.html" %}
{% endblock %}

{% block header_nav_collapse_right %}
    {% include "aasrp/partials/navigation/actions.html" %}
{% endblock %}

{% block content %}
    <div class="aa-srp">
        <div class="aa-srp-header">
            {% block aasrp_header %}{% endblock %}
        </div>

        <div class="aa-srp-body">
            {% translate "." context "Decimal separator" as decimalSeparator %}
            {% translate "," context "Thousands separator" as thousandsSeparator %}
            {% translate "No data available in this table" as emptyTable %}
            {% translate "Showing _END_ entries" as info context "Keep _END_ as it is. It will be replaced by a number." %}
            {% translate "(filtered from _MAX_ total entries)" as infoFiltered context "Keep _MAX_ as it is. It will be replaced by a number." %}
            {% translate "No records available" as infoEmpty %}
            {% translate "Loading …" as loadingRecords %}
            {% translate "Processing …" as processing %}
            {% translate "Nothing found, sorry …" as zeroRecords%}
            {% translate "Search …" as searchPaceholder %}
            {% translate "First" as paginateFirst %}
            {% translate "Last" as paginateLast %}
            {% translate "Next" as paginateNext %}
            {% translate "Previous" as paginatePrevious %}
            {% translate ": activate to sort column ascending" as ariaSortAscending %}
            {% translate ": activate to sort column descending" as ariaSortDescending %}

            <script>
                const aaSrpJsSettingsDefaults = {
                    datetimeFormat: 'YYYY-MM-DD<br>HH:mm',
                    locale: '{{ LANGUAGE_CODE }}',
                    dataTable: {
                        paging: true,
                        translation: {
                            decimal: '{{ decimalSeparator|escapejs }}',
                            thousands: '{{ thousandsSeparator|escapejs }}',
                            emptyTable: '{{ emptyTable|escapejs }}',
                            info: '{{ info|escapejs }}',
                            infoFiltered: '{{ infoFiltered|escapejs }}',
                            infoEmpty: '{{ infoEmpty|escapejs }}',
                            infoPostFix: '',
                            lengthMenu: '_MENU_',
                            loadingRecords: '{{ loadingRecords|escapejs }}',
                            processing: '{{ processing|escapejs }}',
                            zeroRecords: '{{ zeroRecords|escapejs }}',
                            search: '_INPUT_',
                            searchPlaceholder: '{{ searchPaceholder|escapejs }}',
                            paginate: {
                                first: '{{ paginateFirst|escapejs }}',
                                last: '{{ paginateLast|escapejs }}',
                                next: '{{ paginateNext|escapejs }}',
                                previous: '{{ paginatePrevious|escapejs }}'
                            },
                            aria: {
                                sortAscending: '{{ ariaSortAscending|escapejs }}',
                                sortDescending: '{{ ariaSortDescending|escapejs }}'
                            }
                        }
                    }
                };
            </script>

            {% block aasrp_body %}{% endblock %}
        </div>

        <div class="aa-srp-footer mt-3 pt-3 border-top border-light">
            {% include "aasrp/partials/footer/app-translation-footer.html" %}
        </div>
    </div>
{% endblock %}
