{% extends 'aasrp/base.html' %}

{% load i18n %}
{% load static %}

{% block aasrp_header %}
    {% translate "Ship Replacement" as translated_header %}
    {% include 'aasrp/partials/header/h1.html' with header_text=translated_header %}
{% endblock %}

{% block aasrp_body %}
    {% include 'aasrp/partials/dashboard/buttons.html' %}
    {% include 'aasrp/partials/dashboard/table.html' %}

    <!-- modals -->
    {% include 'aasrp/modals/dashboard/enable_srp_link.html' %}
    {% include 'aasrp/modals/dashboard/disable_srp_link.html' %}
    {% include 'aasrp/modals/dashboard/delete_srp_link.html' %}
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}

    <link rel="stylesheet" href="{% static 'aasrp/css/aa-bootstrap-fix.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'aasrp/css/aa-srp.min.css' %}" type="text/css">
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    {% include 'bundles/moment-js.html' with locale=True %}

    <script type="application/javascript" src="{% static 'aasrp/libs/datatables/plugins/dataTables.rowGroup.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'aasrp/libs/datatables/plugins/datetime.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/filterDropDown/filterDropDown.min.js' %}"></script>

    <script type="application/javascript">
        /**
         * passing some setting to our JS
         */
        let urlUserSrpRequests = "{% url 'aasrp:ajax_dashboard_user_srp_requests_data' %}";
        let urlAvailableSrpLinks = "{% url 'aasrp:ajax_dashboard_srp_links_data' %}";
        {% if show_all_links %}
            // override for "view all"
            urlAvailableSrpLinks = "{% url 'aasrp:ajax_dashboard_srp_links_all_data' %}";
        {% endif %}

        let aaSrpSettings = {
            datetimeFormat: 'YYYY-MM-DD HH:mm',
            url: {
                availableSrpLinks: urlAvailableSrpLinks,
                userSrpRequests: urlUserSrpRequests
            },
            translation: {
                filter: {
                    ship: "{% translate 'Ship' %}",
                    requestStatus: "{% translate 'Request Status' %}",
                    character: "{% translate 'Character' %}",
                },
                modal: {
                    enableSrpLink: {
                        body: "{% translate 'Are you sure you want to (re-)activate the following SRP Link?' %}"
                    },
                    disableSrpLink: {
                        body: "{% translate 'Are you sure you want to disable the following SRP Link?' %}"
                    },
                    deleteSrpLink: {
                        body: "{% translate 'Are you sure you want to delete the following SRP Link and all SRP requests tied to it?' %}"
                    }
                }
            }
        };
    </script>
    <script type="application/javascript" src="{% static 'aasrp/javascript/aa-srp-dashboard.min.js' %}"></script>
{% endblock %}
