{% extends "aasrp/base.html" %}

{% load i18n %}

{% block aasrp_header %}
    {% translate "Request SRP" as translated_header %}
    {% include "aasrp/partials/header/h1.html" with header_text=translated_header addition=srp_link %}
{% endblock %}

{% block aasrp_body %}
    <div class="row">
        {% include "aasrp/partials/request_srp/fleet-details.html" %}
        {% include "aasrp/partials/request_srp/form.html" %}
    </div>
{% endblock %}

{% block extra_css %}
    {% include "aasrp/bundles/aa-bootstrap-fix-css.html" %}
    {% include "aasrp/bundles/aa-srp-css.html" %}
    {% include "aasrp/bundles/aa-srp-form-css.html" %}
{% endblock %}
